/* Footer */

.site-footer {
	background: url("../../images/dark-wood@2x.png") no-repeat bottom;
	background-size: cover;	
	height: 50vh;
	width: 100%;
	color: #fff;
	padding-bottom: 15rem;

	h3 {
		color: $color__orange;
	}

	a {
		color: #fff;
	}
}

.footer-wrapper {
	display: flex;
	justify-content: space-around;
	padding: 3rem 10% 0;

	.footer-contact, .footer-business-hours {
		flex-basis: 20%;
	}

	.footer-inhabitent-image {
		flex-basis: 45%;
		text-align: right;
	}

	img {
		padding: 1rem 0 0;
	}

	.dashicons {
	display: inline;
	margin: 0 .25rem;
	}
	
	.dashicons-email, .dashicons-phone {
		margin: 0 .25rem;
	}
}

.site-info {
	text-align: center;
}

