/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */
.search-nav-wrapper button {
	border: none;
	background-color: transparent;
	color: $color__green;
	font-size: $base__font-size;

	&:hover {
		color: $color__md-grey;
	}
}

/* Front Page Shop Buttons*/
.home .btn {
	border: none;
	background-color: $color__lt-grey;
	color: #fff;
	padding: .75rem 1.5rem;
	max-width: 100%;

	&:hover {
		background-color: $color__md-grey;
		color: #fff;
	}
}

/* Adventure White-Border Buttons */
.home .wht-border-button {
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	padding: 0.5rem 1.5rem;
	margin: 0.5rem 0 1rem 1rem;

	&:hover {
		background-color: $color__md-grey;
		color: #fff;
	}
}

/* Product Buttons and Journal Buttons*/
.front-page-journal-button button, button.blk-border-button {
	background-color: transparent;
	color: #000;
	border: $border__solid-black;
	padding: 0.5rem 1.5rem;
	max-width: 100%;

	.fa {
		padding-right: .5rem
	}

	a {
		color: #000;
	}

	&:hover {
		background-color: $color__md-grey;
		border-color: $color__md-grey;
		color: #fff;

		a {
			color: #fff;
		}
	}

	// &:hover {
	// 	background-color: $color__lt-grey;
	// 	border-color: $color__lt-grey;
	// 	color: $color__text-hover;
	// }

}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	font-size: $base__font-size;
	line-height: 1;
	padding: .75rem 1rem .75rem;
	color: #fff;
	background-color: $color__lt-grey;

	&:hover {
		background-color: $color__md-grey;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
	color: #666;
	border: $border__solid-lt-grey;
	background-color: #f4f4f4;
	padding: .3rem;

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
