/* Front page */

	/* Hero Banner*/

.custom-hero-banner {
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../../assets/images/home-hero.jpg") no-repeat top;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	z-index: 2;
}

.custom-hero-banner.logo {
	height: 275px;
	width: 275px;
	max-width: 100%;
	z-index: 0;
}

.home .entry-title a {
	display: none;	
}

.front-page-wrapper h2 {
	text-align: center;
	margin: 0 0 3.75rem 0;
}

		/* Shop */
.home {

	.product-type-blocks {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		text-align: center;
	}

	.product-type-block-wrapper {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		border: $border__solid-lt-grey;
		border-top-width: 5px;
		flex: 0 1 23.5%;
		max-width: 23.5%;
		padding: 0.75rem;

		:hover {
			border-color: $color__orange;
		}

	}

	.product-type-block-wrapper img {
		height: 70px;
		width: 70px;
	}
}

	/* Journal */
	
.front-page-journal-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.front-page-journal-entry {
	font-size: 1rem;
	font-family: $font__main;
	line-height: $base__line-height;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	max-width: 32%;
	min-width: 150px;
}

.journal-header {
	font-size: 1.25rem;
	margin: 0 0 1rem 0;
}

.front-page-journal-entry-text {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	border: $border__solid-lt-grey;
	padding: 0.75rem;
	height: auto;
}

	/* Adventure Articles */

	.adventure-article-wrapper {
		color: #fff;

		// font-size: 2rem;
		display: grid;
		grid-template-areas: "canoe canoe beach beach"
			"canoe canoe mountain night";
		grid-gap: 0.5rem;
		width: 100%;
		height: 80vh;
		margin-bottom: 4rem;

		.adventure-title {
			color: #fff;
			padding: 2rem 1rem 0 1rem;
			text-align: left;
			text-transform: none;
			font-family: $font__main;
		}
	}

	.adventure-canoe {
		background: url("../../assets/images/canoe-girl.jpg") center / cover;
		grid-area: canoe;
	}

	.adventure-beach {
		background: url("../../assets/images/beach-bonfire.jpg") center / cover;
		grid-area: beach;
		font-size: 1.5rem;
	}

	.adventure-big-mountain {
		background: url("../../assets/images/mountain-hikers.jpg") center / cover;
		grid-area: mountain;
		font-size: 1.25rem;
	}

	.adventure-night-sky {
		background: url("../../assets/images/night-sky.jpg") center / cover;
		grid-area: night;
		font-size: 1.25rem
	}
