/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.site-header {
	display: flex;
  flex-flow: row nowrap;
	justify-content: space-between;
	max-width: 100%;
	height: 100%;
	border-bottom: $solid__border;
	padding: .5rem 10%;
	z-index: 10;
	background-color: #fff;
	position: sticky; 

	.site-branding {
		width: 3.5rem;
		height: 3rem;
		
	}

	.logo {
		// flex-basis: 15%;
		background: url("../../images/inhabitent-logo-tent.svg") no-repeat;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}
}

.site-title {
	width: 100%;
	height: 100%;
}

#site-navigation.main-navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: baseline;	
	flex-basis: 60%;
	text-transform: uppercase;
	color: #fff;
}
.menu-main-menu-container {
	flex-basis: 50%;
}
#primary-menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

/* Search Bar */

#search-field {
	display: none;
}
.search-form {
	display: inline;
	border: none;
	text-transform: uppercase;
}

.search-wrapper {
	padding: 0;
	margin: 0;
	border: none;
	display: inline;

	.search-bar {
		border: none;
	}

	button {
		background: $color__background-body;
		border: none;
	}

	.fa-search {
		font-size: 1.25rem;
	}
}

/* Links */

.site-header a {
	color: $color__green;
}

a {
	color: $color__green;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			top: $base__space-unit;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {

	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
}