/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.blog, .single-post, .page {
	// padding: 0 10%;
}

.blog .site-content, .single-post .site-content, .page .site-content {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 2rem 10%;
	margin-left: auto;
	margin-right: auto;
}

.blog .content-area, .single .content-area, .page .content-area {
	border-right: 1px solid #e1e1e1;
	padding-right: 5%;
	width: 73%;
	display: flex;
	flex-flow: column nowrap;
	flex: 0 1 auto;
	align-items: center;
}

.page-title {
	margin-top: 0;
}

.hentry {
	margin: 0 0 1.5rem;
}

.blog .entry-header, .single-post .entry-header {
	position: relative;
}
