/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


body.content-area {
	border-right: 1px solid #e1e1e1;
	padding-right: 5%;
	width: 73%;
}

.page-title {
	margin-top: 0;
}

.hentry {
	margin: 0 0 1.5rem;
}

.blog .entry-header, .single-post .entry-header {
	position: relative;
}