    /* Main Shop Page */
    
.post-type-archive-product {

  h2 {
    text-align: center;
    margin-top: 0;
  }
  
  .product-type-blocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
  
    .product-type-block-wrapper {
      text-transform: uppercase;
      padding: 1rem 5%;
    }
  }

  .products-archive-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }

  .product-wrapper {
    flex: 0 1 23.5%;
    max-width: 23.5%;
    padding: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  
    img {
      height: 100%;
    }

    .products-archive-text-wrapper {
      border: $border__solid;
      border-top-width: 5px;
    }
  }
}

